@import "compass"

$primary-color: #7ECB41
$secondary-color: #D5487C
$reveal-position-top: 20px

@import "partials/foundation"
@import "partials/font-awesome"
@import "modules/mixins"

body
  color: #666
  background-color: #eee

header
  @extend .grid
  margin: 0 auto
  padding: 40px 0 20px
  color: #fff
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3)
  h1
    letter-spacing: -1px
    font-size: 4em
    text-transform: uppercase
    color: #fff
    line-height: 1
    margin: 0 0 0.5em 0
  h2
    font-size: 26px
    letter-spacing: 0.1em
    color: $primary-color
    font-weight: 200
    line-height: 1.3
  .time-level
    display: block
    font-size: 1.2em
    margin: 30px 0 0 0
    font-weight: 200
    color: $secondary-color

#header-slider
  padding: 2px
  background-color: black

.top-bar
  background-color: $primary-color
.orbit-prev,.orbit-next
  background-color: rgba(black,.6)

.tutorial-list
  margin: 90px 0 0 0
  counter-reset: tutorialstep
  > li
    visibility: hidden
    list-style: none
    position: relative
    background-color: #fff
    margin: 0 0 70px 0px
    padding: 20px 20px 10px
    font-size: 18px
    border: 1px solid #ddd
    border-radius: 5px
    text-align: center
    z-index: 1
    &:not(.code-step):after
      counter-increment: tutorialstep
      content: counter(tutorialstep)
    &:after
      @include absolute(left -15px top -15px)
      width: 58px
      height: 58px
      line-height: 58px
      background-color: $primary-color
      border-radius: 200px
      font-size: 30px
      font-weight: 300
      color: #fff
      text-align: center
      -webkit-backface-visibility: hidden
      z-index: 100
      @media (max-width: 767px)
        width: 42px
        height: 42px
        line-height: 42px
        font-size: 24px
    &.final-step:after
      background-color: $secondary-color
      content: $fa-var-trophy
      @extend .fa
      line-height: 2em
    &.comment-step:after
      background-color: $secondary-color
      content: $fa-var-comments
      @extend .fa
      line-height: 2em
    &.social-step:after
      background-color: $secondary-color
      content: $fa-var-users
      @extend .fa
      line-height: 2em
  h3
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-weight: 200
    font-size: 1.4em
    margin: 0 0 0.8em 0
  .image-right
    padding-right: 460px
    @media (max-width: 767px)
      padding-right: 10px
      background-image: none!important
    p
      margin-left: 30px
      margin-right: 30px

.commands-list
  margin: 0
  padding: 0
.command
  position: relative
  text-align: left
  font-family: Consolas, "Liberation Mono", Courier, monospace
  font-size: 0.8em
  line-height: 1.3em
  color: $primary-color
  background-color: #1A2224
  overflow: hidden
  @include border-radius(7px)
  text-align: left
  display: block
  width: 90%
  padding: 15px 105px 15px 20px
  margin: 20px auto 10px
  @media (max-width: 767px)
    width: 100%
    margin: 0 0 10px 0
    padding: 8px 105px 8px 8px
  a
    @extend .button
    @extend .round
    @extend .tiny
    @include absolute(top 5px right 5px)

.img-thumbnail
  border-radius: 6px
  border: solid 1px #DDD
  padding: 6px

.button
  border-radius: 5px
  background-color: transparent
  color: $primary-color
  border: 2px solid $primary-color
  &:hover
    color: $secondary-color
    background-color: transparent
    border-color: $secondary-color

//STEPS
#create-koding-account-step
  background: white url(../images/tutorial/Koding_homepage.png) right 0 no-repeat
  background-size: 440px

#cloning-prestashop-repo-step
  background: white url(../images/tutorial/Koding_terminal.png) right 0 no-repeat
  background-size: 440px

.grid
  background-color: #1F2426
  @include background-image(linear-gradient(rgba(white,.05) 2px, transparent 2px),linear-gradient(90deg, rgba(white,.04) 2px, transparent 2px), linear-gradient(rgba(white,.03) 1px, transparent 1px),linear-gradient(90deg, rgba(white,.03) 1px, transparent 1px),linear-gradient(0deg, rgba(black,.3) 0, transparent 100px))
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px, 100% 100%
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px, center bottom

#final-step
  .user-password
    width: 100%
    margin-top: 10px
    text-align: left

#next-steps
  display: block
  width: 100%
  background-color: white
  padding: 20px 0 40px 0
  .hero-octicon
    width: 100px
    height: 100px
    border-radius: 50px
    text-align: center
    margin: 0 auto 15px
    display: block
    @extend .grid
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px, 100% 100%
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px, center bottom
    &:hover
    i
      line-height: 2em
  h1
    display: block
    font-size: 1.6em
    text-align: center
    margin-bottom: 40px
    color: $secondary-color
  h2
    font-size: 1.2em
    text-transform: uppercase
    text-align: center
    color: gray
    margin: 0 0 20px 0
  ul
    text-align: center
    margin: 0
    li
      list-style: none
      list-style-position: inside

@media only screen and (min-width: 768px) and (max-width: 959px)
  header
    h1
      font-size: 60px
    h2
      font-size: 30px
// All Mobile Sizes (devices and browser)
@media only screen and (max-width: 767px)
  header
    padding: 20px 0
    h1, h2
      width: 100%
    h1
      font-size: 48px
    h2
      font-size: 24px
  #main-content
    float: none
    width: 100% !important
    padding: 0 30px
