@import "compass"

$primary-color: #7ECB41
$secondary-color: #D5487C
$reveal-position-top: 20px

@import "partials/foundation"
@import "partials/font-awesome"
@import "modules/mixins"

//Debug responsive
// *
//   @media #{$small-only}
//     outline: 10px solid green
//   @media #{$medium-only}
//     outline: 10px solid red
//   @media #{$large-only}
//     outline: 10px solid yellow
//   @media #{$xlarge-only}
//     outline: 10px solid blue

html, body
  height: 100%
  margin: 0
  padding: 0

body
  color: #666
  background-color: #eee

header
  @extend .grid
  margin: 0 auto
  padding: 0 0 20px
  color: #fff
  +text-shadow(rgba(0, 0, 0, 0.3) 1px 1px 0)
  .top-bar
    margin-bottom: 20px
    background-color: $primary-color
    li.active a
      background-color: darken($primary-color,8%)!important
  h1
    float: left
    position: relative
    letter-spacing: -1px
    text-transform: uppercase
    color: #fff
    line-height: 1
    margin: 0 0 0.5em 0
    z-index: 10
    @media #{$medium-up}
      font-size: 4em
    @media #{$small-only}
      font-size: 2em
    &:after
      content: "&"
      +text-shadow(none)
      font-size: 3em
      color: rgba(#4D5B5E,.5)
      position: absolute
      top: -40px
      right: -80px
      z-index: -1
  h2
    clear: both
    font-size: 28px
    letter-spacing: 0.07em
    color: $primary-color
    font-weight: 200
    line-height: 1.3
    @media #{$medium-up}
      font-size: 1.6em
    @media #{$small-only}
      font-size: 1.3em
  .time-level
    display: inline-block
    font-size: 1.3em
    margin: 30px 0 0 0
    font-weight: 200
    color: $secondary-color
    .time
      color: white
    .level
      color: white

.orbit-prev,.orbit-next
  background-color: rgba(black,.6)

#header-slider
  padding: 2px
  background-color: black

#intro
  padding-top: 0 20px 0
  background-color: white
  border-bottom: solid 1px #DDDDDD
  .edito
  .author
    border: none
    margin: 10px 0
    padding: 10px 20px
    .round
      display: block
      position: relative
      top: -50px
      margin-bottom: -40px
      overflow: hidden
      +border-radius(100px)
    h3
      font-size: 1.6em
    p
      color: #777
      font-size: 0.85em
    .button
      background-color: white
      width: 100%
#progress
  background-color: white
  border-bottom: solid 1px #DDDDDD
  height: 52px
  padding-top: 4px
  a
    font-size: 16px
    line-height: 36px
    display: block
    text-align: center
    width: 40px
    height: 40px
    background-color: white
    border: solid 2px #eee
    +border-radius(20px)
  dd.active a
    color: white
    background-color: $primary-color
    border: solid 2px white
  .progress
    position: relative
    width: 90%
    margin: 0 auto
    .meter
      background-color: #323E41
      +transition-property(width)
      +transition-duration(0.4s)
      +transition-timing-function(ease-in)
  dl
    position: absolute
    top: -8px
    left: 0
    display: inline-block
    width: 100%
    z-index: 20
    margin: 0
    padding: 0
    dd
      margin: 0
      padding: 0
      width: 15%
      display: inline-block
      position: relative
      a
        position: absolute
        left: -22px
        top: -5px
      &:last-child
        position: absolute
        right: 0
        top: -5px
        width: 0

.tutorial-list
  counter-reset: tutorialstep
  .step
    visibility: hidden
    position: relative
    top: 20%
    width: 960px
    margin: 0 auto
    background-color: #fff
    padding: 20px 20px 10px
    font-size: 18px
    border: 1px solid #ddd
    border-radius: 5px
    text-align: center
    z-index: 1
    &:not(.code-step):after
      counter-increment: tutorialstep
      content: counter(tutorialstep)
    &:after
      +absolute(left -15px top -15px)
      width: 58px
      height: 58px
      line-height: 58px
      background-color: $primary-color
      border-radius: 200px
      font-size: 30px
      font-weight: 300
      color: #fff
      text-align: center
      -webkit-backface-visibility: hidden
      z-index: 100
      @media #{$medium-only}
        width: 42px
        height: 42px
        line-height: 42px
        font-size: 24px
    &.final-step:after
      background-color: $primary-color
      content: $fa-var-trophy
      @extend .fa
      line-height: 2em
    &.comment-step:after
      background-color: $secondary-color
      content: $fa-var-comments
      @extend .fa
      line-height: 2em
    &.social-step:after
      background-color: $secondary-color
      content: $fa-var-users
      @extend .fa
      line-height: 2em
  h3
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-weight: 200
    font-size: 1.4em
    margin: 0 0 0.8em 0
  .image-right
    padding-right: 460px
    @media #{$medium-only}
      padding-right: 10px
      background-image: none!important
    p
      margin-left: 30px
      margin-right: 30px
.commands-list
  margin: 0
  padding: 0
  .command
    position: relative
    text-align: left
    font-family: Consolas, "Liberation Mono", Courier, monospace
    font-size: 0.8em
    line-height: 1.3em
    color: $primary-color
    background-color: #1A2224
    overflow: hidden
    +border-radius(7px)
    text-align: left
    display: block
    width: 90%
    padding: 15px 105px 15px 20px
    margin: 20px auto 10px
    @media #{$medium-only}
      width: 100%
      margin: 0 0 10px 0
      padding: 8px 105px 8px 8px
    a
      @extend .button
      @extend .radius
      +absolute(top 5px right 5px)
      font-size: 0.7em

.img-thumbnail
  border-radius: 6px
  border: solid 1px #eee
  padding: 6px

.button
  border-radius: 5px
  background-color: transparent
  color: $primary-color
  border: 2px solid $primary-color
  text-transform: uppercase
  font-size: 0.9em
  padding: 0.5em 0.9em
  &:hover
    color: $secondary-color
    background-color: transparent
    border-color: $secondary-color

//STEPS
#create-koding-account-step .step
  background: white url(../images/tutorial/Koding_homepage.png) right 0 no-repeat
  background-size: 440px

#cloning-prestashop-step .step
  background: white url(../images/tutorial/Koding_terminal.png) right 0 no-repeat
  background-size: 440px

#final-step
  .user-password
    width: 100%
    margin-top: 5px
    text-align: left

#social-step
  .button
    position: relative
    overflow: hidden
    padding-left: 50px
    margin-right: 10px
    i
      position: absolute
      top: 0
      left: 0
      height: 2.2em
      font-size: 1.4em
      color: white
      line-height: 1.6em
      width: 40px
      background-color: $primary-color
    &:hover i
      background-color: $secondary-color

#next-steps
  background-color: white
  padding: 20px 0 40px 0
  .hero-octicon
    @extend .grid
    width: 100px
    height: 100px
    border-radius: 50px
    text-align: center
    margin: 0 auto 15px
    display: block
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px, 100% 100%
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px, center bottom
    i
      font-size: 4em
      line-height: 1.5em
      color: rgba(white,.5)
    &:hover i
      color: white
  h1
    display: block
    font-size: 1.6em
    text-align: center
    margin-bottom: 40px
    color: $secondary-color
  h2
    font-size: 1.2em
    text-transform: uppercase
    text-align: center
    color: gray
    margin: 0 0 20px 0
  ul
    text-align: center
    margin: 0 0 30px 0
    li
      list-style: none
      list-style-position: inside

.grid
  background-color: #1A2224
  +background-image(linear-gradient(rgba(white,.05) 2px, transparent 2px),linear-gradient(90deg, rgba(white,.04) 2px, transparent 2px), linear-gradient(rgba(white,.03) 1px, transparent 1px),linear-gradient(90deg, rgba(white,.03) 1px, transparent 1px),linear-gradient(0deg, rgba(black,.3) 0, transparent 100px))
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px, 100% 100%
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px, center bottom

.window
  width: 100%
  height: 100%
  position: absolute

$light-gray: #D5D7DD
$teal: #1babb7
$light-green: #6ab29f
$dark-gray: #333a3e
$red: #d0482b
$off-black: #231f20

$colors: $light-gray, $teal, $light-green, $dark-gray, $red, $off-black, red, blue, green, yellow

@for $i from 1 through 10
  .window:nth-child(#{$i})
    background: nth($colors, $i)
    top: ($i - 1) * 100%